<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<form action="#" th:action="@{/user/login}" th:object="${examStudentEntity}" method="post">

    <table>
        <tr>
            <td>
                <label th:text="学号"/>
            </td>
            <td>
                <input type="text" th:field="*{studentId}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:text="密码"/>
            </td>
            <td>
                <input type="password" th:field="*{studentPasswd}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
        <tr>
            <td>
                <input id="remember_me" name="remember-me" type="checkbox"/>
                <label th:text="remember_me"></label>
            </td>
        </tr>
        <tr>
            <a th:href="@{/logout}">Logout</a>
        </tr>
    </table>
</form>

</body>
</html>