<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<form action="#" th:action="@{/user/register}" th:object="${examStudentEntity}" method="post">

    <table>
        <tr>
            <td>
                <label th:text="学号"/>
            </td>
            <td>
                <input type="text" th:field="*{studentId}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:text="密码"/>
            </td>
            <td>
                <input type="password" th:field="*{studentPasswd}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:text="姓名"/>
            </td>
            <td>
                <input type="text" th:field="*{studentName}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:text="班级号"/>
            </td>
            <td>
                <input type="text" th:field="*{studentClass}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>